<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logogiac"
        android:label="@string/nombreApp"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logogiac"
        android:supportsRtl="true"
        android:theme="@style/Theme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1wQVD4KafHYm7By6Q-nm-lROlsEi5j10" />

        <activity
            android:name=".SplashScreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".menuPrincipal_U.Ayuda.EnvioMail"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.Ayuda.PopUp_tipocon"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as" />
        <activity
            android:name=".menuPrincipal_T.documentosTrabajadores.pdfView"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.incidenciasAsignadas.gestionarIncidencia"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.documentosTrabajadores.documentosTrabajadores"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.localizarAccidentes.localizarAccidentes"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.accidentesAsignados.accidentesAsignados"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.accidentesAsignados.gestionarAccidentes"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.incidenciasAsignadas.IncidenciasAsignadas"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.listadoAccidentes.ListadoAccidentes"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.listadoIncidencias.ListadoIncidencias"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.listadoUsuarios.ListadoUsuarios"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.listadoVehiculos.ListadoVehiculos"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.datosTrabajador.DatosTrabajador"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_T.MenuPrincipal_T"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.MenuPrincipal_U"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.MenuVehiculo"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.RegistroVehiculo"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.EditaVehiculo"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.EditaPerfil"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.PopupMapaActivity"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as" />
        <activity
            android:name=".menuPrincipal_U.PopupDirActivity"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as" />
        <activity
            android:name=".menuPrincipal_U.registraIncidencias.RegistraDatosIn"
            android:exported="true" />
        <activity
            android:name=".menuPrincipal_U.registraIncidencias.InfoDatos"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as" />
        <activity
            android:name=".menuPrincipal_U.registraIncidencias.InfoDesPdf"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as" />
        <activity
            android:name=".menuPrincipal_U.registraIncidencias.RegistraDesIn"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".registroUsuario.RegistroUsuarios"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menuPrincipal_U.registraAccidentes.PopUp_Acciones"
            android:exported="true"
            android:theme="@style/Theme.CrearPopUp.acc" />
        <activity
            android:name=".menuPrincipal_U.registraAccidentes.InfoDatosAcc"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as" />
        <activity
            android:name=".menuPrincipal_U.registraAccidentes.InfoDesPdfAcc"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menuPrincipal_U.registraAccidentes.RegistraDatosAcc"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menuPrincipal_U.registraAccidentes.RegistraDesAcc"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menuPrincipal_U.registraAccidentes.RegistraLocalizaAcc"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC1XseOxJfUCeTcXs4eoTlxDKrg3mIar2A" />
        </activity>
        <activity
            android:name=".menuPrincipal_U.DocumentosUsuario.InfoDocumentos"
            android:exported="false"
            android:theme="@style/Theme.CrearPopUp.as" />
        <activity
            android:name=".menuPrincipal_U.DocumentosUsuario.MenuArchivos"
            android:exported="true" />
        <activity
            android:name=".menuPrincipal_U.Asistencia.MenuPartes"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.Asistencia.EditaAccidente"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.Asistencia.EditaIncidencia"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal_U.Asistencia.EnvioMail_emp"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>